Lista_Exercícios_cap1/output/ex001.exe
/Lista_Exercícios_cap1/output
.vscode/tasks.json
.vscode/launch.json
Lista_Exercícios_cap02/output/ex010.exe
Lista_Exercícios_cap02/output/ex011.exe
Lista_Exercícios_cap02/output/ex012.exe
Lista_Exercícios_cap02/output/ex08.exe
Lista_Exercícios_cap02/output/ex09.exe
Lista_Exercícios_cap02/output/ex08.exe
Lista_Exercícios_cap02/output/ex08.exe
